@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, .wrapper , .content{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: #4A98F7;
    min-height: 100vh;
}

.wrapper{
    background-color: #fff;
    width:440px;
    padding: 40px;
    border-radius: 10px;
    flex-direction: column;
}

img{
    max-width: 100px;
}

h1{
    font-size:40px;
    font-weight: 500;
    margin:30px 0 15px 0;
}


.content .column{
   margin:0 10px;
}

.disable{
    opacity: 0.6;
    pointer-events: none;
}

input{
    width:336px !important;
}

.form-select:focus {
    border-color: #4A98F7;
    outline: 0;
    box-shadow: none;
}



.btn-check:focus+.btn-danger, .btn-danger:focus {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
    box-shadow: none !important;
}